@import "seattletimes";

responsive-child {
  max-width: 700px;
  margin: auto;
}

.last { margin-top: 20px; }
.source-container {
  p { margin-bottom: 0px; }
}

.graphic-hed {
  margin-top: 0px;
}

.toggleBox {
  margin: 10px auto;
  font-family: @df-sans;
  // background-color: @df-light-gray;
  padding: 10px;
  border-bottom: 1px solid @df-border-gray;
  border-top: 1px solid @df-border-gray;

  .directions {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: @df-middle-gray;
    text-align: center;
    margin-bottom: 5px;
  }

  .buttons {
    font-size: 0px;
    margin-bottom: 10px;
    button {
      // background-color: rgba(7, 119, 179, 0.6);
      color: white;
      border-radius: 3px;
      border: none;
      display: inline-block;
      width: 49%;
      text-align: center;
      font-size: 19px;
      font-weight: bold;
      margin: 3px auto 0px auto;
      padding: 5px 20px;
      cursor: pointer;

      &.active {
        // background-color: @df-blue;
        border: 3px solid black;
      }
    }
    button:first-of-type { margin-right: 1%; background-color: @df-blue; }
    button:nth-child(2) { margin-left: 1%; background-color: #02496f; }
  }

  .iframes {
    position: relative;
    height: 400px;
    .iframe {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      visibility: hidden;
      //
      iframe { width: 100%; }
      &.active { visibility: inherit; }
    }
  }
}

// /* The slider */
// .holdSlider {
//   position: relative;
//   height: 20px;
//   width: 98%;
//   margin: 7px auto 7px auto;
//   .slider {
//     position: absolute;
//     cursor: pointer;
//     width: 48%;
//     height: 7px;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: black;
//     -webkit-transition: .4s;
//     transition: .4s;
//
//     &.diesel {
//       -webkit-transform: translateX(108%);
//       -ms-transform: translateX(108%);
//       transform: translateX(108%);
//     }
//   }
// }
